//
   Created by HDelgado on 09.05.2014.

// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(tmainpage-form-containerype='hidden', value= user._id)#userId
#mainpage-form-container
    div(style='padding-bottom:50px')
        a
            div.btn_catalogo
// display form errors in a custom modal window //
include modals/form-errors
include modals/alert
include modals/confirm
block scripts
script(src='/js/controllers/mainpageController.js')
script(src='/js/services/mainMenuService.js')