//
   Created by HDelgado on 09.05.2014.

// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
#account-form-container
    button.btn.btn-primary Catálogo
    button.btn.btn-primary Clientes
    button.btn.btn-primary Colegios
// display form errors in a custom modal window //
include modals/form-errors
